<h2>Round About</h2>
<div>
<p>
	Here I tell you about how awesome I am and the amazing journey that brings me before you.  Let that sink into your imagination.  Do you have it?  Ok, well now that you've given it some thought I feel I just don't need to say any more about it.
</p>
<p>
I've studied, traveled, and worked.  Ask me about it in person and I'll tell you more.
</p>
<hr>

<div margin-left:auto;margin-right:auto;text-align:center>
 <%= image_tag about_picture_link %>
 <br>
 <p>Here is a picture of a <%= about_picture_description %>
</p>
<div>
</div>